@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

html {
    margin: 0;
    color: #28282A;
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    background: linear-gradient(90deg, rgba(95, 210, 224, 1) 0%, rgba(190, 194, 255, 1) 50%, rgba(230, 187, 217, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}


.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #28282A;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}


/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: linear-gradient(90deg, rgba(95, 210, 224, 1) 0%, rgba(190, 194, 255, 1) 50%, rgba(230, 187, 217, 1) 100%);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #28282A;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

}

.home {
    background: linear-gradient(90deg, rgba(95, 210, 224, 1) 0%, rgba(190, 194, 255, 1) 50%, rgba(230, 187, 217, 1) 100%);
    height: calc(100vh - 83px);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;
    color: #fff;

}

.about {
    background: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 150px 20px 150px 20px;
}

.about-text {
    max-width: 900px;
}


.contact {
    background: linear-gradient(90deg, rgba(95, 210, 224, 1) 0%, rgba(190, 194, 255, 1) 50%, rgba(230, 187, 217, 1) 100%);
    height: calc(100vh - 83px);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 20px;
    color: #fff;

}